.jumbotron {
    background: #DFDFDF;
    padding: 3em 0.5em 3em;
    -moz-box-shadow:    inset 0 0 10px #AAAAAA;
    -webkit-box-shadow: inset 0 0 10px #AAAAAA;
    box-shadow:         inset 0 0 10px #AAAAAA;
}

.jumbotron h1 {
    font-family: serif;
    font-size: 300%;
}

.jumbotron img {
    width: 400px;
}

.jumbotron .pure-u-1-3 {
    text-align: center;
    vertical-align: middle;
}

.jumbotronText {
    padding: 2em;
}

.jumbotron .pure-button {
    font-size: 1.5em;
    margin: 0.5em;
}

.content {
    background: #EEEEEE;
}

.content .column {
    background: #DFDFDF;
    padding: 10px 20px;
    margin: 20px 10px;
    -moz-box-shadow:    inset 0 0 10px #AAAAAA;
    -webkit-box-shadow: inset 0 0 10px #AAAAAA;
    box-shadow:         inset 0 0 10px #AAAAAA;
}

.content .columnTitle {
    text-transform: uppercase;
    border-bottom: 1px solid;
    display: inline-block;
}

.jumbotronText .pure-button {
    margin-left: 0 !important;
}
