#navbar {
    background: #EEEEEE !important;
}

#navbar li a {
    border-left: 1px solid #EEEEEE !important;
    border-right: 1px solid #EEEEEE !important;
}

#navbar li a:hover, .navbar li a:focus {
    border-left-color: #888888 !important;
    border-right-color: #888888 !important;
}

.openSpaceIcon {
    height: 28px;
}

#overflowMenu {
    position: absolute;
    background: #4B4B4B;
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}

#overflowMenu li {
    list-style-type: none;
    padding: 10px 30px;
    border-bottom: 1px solid #a9a9a9;
}

#overflowMenu a {
    text-decoration: none;
    color: #a9a9a9;
}
