.content {
    background: #EEEEEE;
}

.content .column {
    background: #DFDFDF;
    margin: 20px 10px;
    -moz-box-shadow:    inset 0 0 10px #AAAAAA;
    -webkit-box-shadow: inset 0 0 10px #AAAAAA;
    box-shadow:         inset 0 0 10px #AAAAAA;
}

.content .columnTitle {
    text-transform: uppercase;
    border-bottom: 1px solid;
    display: inline-block;
}
