---
---
<html>
    <head>
		{% include head.html %}
        <link rel="stylesheet" href="/css/join.css" type="text/css">
    </head>
    <body>
        <div id="container">
            {% include navbar.html %}
            <div class="content">
                <div class="pure-g-r">
                    <div class="pure-u-1-4">
                        <div class="column priceCommunity">
							<div class="priceHeader">
								<div class="priceTitle">
									Community
								</div>
								<div class="price">
									$0
								</div>
								<div class="priceSubtitle">
									Free
								</div>
							</div>
                        </div>
					</div>
                    <div class="pure-u-1-4">
                        <div class="column priceMember">
							<div class="priceHeader">
								<div class="priceTitle">
									Member (Month)
								</div>
								<div class="price">
									$25
								</div>
								<div class="priceSubtitle">
									Month
								</div>
							</div>
                        </div>
                    </div>
                    <div class="pure-u-1-4">
                        <div class="column priceYear">
							<div class="priceHeader">
								<div class="priceTitle">
									Member (Year)
								</div>
								<div class="price">
									$250
								</div>
								<div class="priceSubtitle">
									Year
								</div>
							</div>
                        </div>
                    </div>
                    <div class="pure-u-1-4">
                        <div class="column priceDiscounts">
							<div class="priceHeader">
								<div class="priceTitle">
									Discounts
								</div>
								<div class="price">
									-$10
								</div>
								<div class="priceSubtitle">
									Month
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
    </body>
</html>
